@charset "UTF-8";

$layout_width:          1000px;
$layout_max_width:      $layout_width;
$layout_min_width:      $layout_width;
$display_3rd_column:    none; /* (none|block) */
$header_height:         200px;
$content_height:        auto;
$footer_height:         50px;
$width_c1:              25%;
$width_c2:              50%;
$width_c3:              auto;
$yaml_img_dir:          "/images";

@import "default_includes";

/**
 * "Yet Another Multicolumn Layout" - (X)HTML/CSS framework
 * (en) stylesheet for screen layout
 * (de) Stylesheet für das Bildschirm-Layout
 *
 * @creator       YAML Builder V1.2 (http://builder.yaml.de)
 * @file          basemod.css
 * @-yaml-minver  3.2
 */

  /** 
   * (en) Forcing vertical scrollbars in IE8, Firefox, Webkit & Opera 
   * (de) Erzwingen vertikaler Scrollbalken in IE8, Firefox, Webkit & Opera 
   *
   * @workaround
   * @affected IE8, FF, Webkit, Opera
   * @css-for all
   * @valid CSS3
   */
  body {
    overflow-y: scroll;
    background: #4d87c7 url("images/bg_blue.gif") repeat-x top left fixed;
    padding: 10px 0; }
  /*-------------------------------------------------------------------------*/
  /* (en) Marginal areas & page background */
  /* (de) Randbereiche & Seitenhintergrund */
  /* Layout Alignment | Layout-Ausrichtung */
  .page_margins {
    margin: 0 auto;
    width: auto;
    min-width: $layout_min_width;
    max-width: $layout_max_width;
    background: #fff; }
  /* Layout Properties | Layout-Eigenschaften */
  .page {
    padding: 10px; }
  #header {
    padding: 45px 2em 1em 20px;
    height: $header_height;
    color: #000;
    background: #fff; }
  #nav {
    overflow: hidden; }
  div.hlist {}
  #main {
    margin: 10px 0;
    height: $content_height;
    background: #fff; }
  #footer {
    padding: 10px 20px;
    color: #666;
    height: $footer_height;
    background: #f9f9f9;
    border-top: 5px #efefef solid; }
  /* (en) navigation: horizontal adjustment | (de) horizontale Ausrichtung  */
  #nav ul {
    margin-left: 20px; }
  /*-------------------------------------------------------------------------*/
  /**
   * (en) Formatting content container
   * (de) Formatierung der Inhalts-Container
   *
   */
  #col1 {
    float: left;
    width: $width_c1;
    margin: 0; }
  #col2 {
    float: left;
    width: $width_c2;
    margin: 0; }
  #col3 {
    width: $width_c3;
    margin: 0 0 0 75%;
    display: $display_3rd_column;
  }
  #col1_content {
    padding: 0 10px 0 20px; }
  #col2_content {
    padding: 0 10px; }
  #col3_content {
    padding: 0 20px 0 10px; }

