!!!
%html{:lang => "en", "xml:lang" => "en", :xmlns => "http://www.w3.org/1999/xhtml"}
  %head
    %meta{:content => "text/html; charset=utf-8", "http-equiv" => "Content-type"}/
    %title Your Page Title
    %link{:href => "./stylesheets/my_layout.css", :rel => "stylesheet", :type => "text/css"}
    %link{:href => "./stylesheets/basemod.css", :rel => "stylesheet", :type => "text/css"}
    /[if IE]
      %link{:href => "./stylesheets/patche_my_layout.css", :rel => "stylesheet", :type => "text/css"}
  %body
    .page_margins
      / start: skip link navigation
      %a.skip{:href => "#navigation", :title => "skip link"} Skip to the navigation
      %span.hideme .
      %a.skip{:href => "#content", :title => "skip link"} Skip to the content
      %span.hideme .
      / end: skip link navigation
      .page
        #header
        #nav
          / skiplink anchor: navigation
          %a#navigation{:name => "navigation"}
          .hlist
            / main navigation: horizontal list
            %ul
              %li.active
                %strong Button 1
              %li
                %a{:href => "#"} Button 2
              %li
                %a{:href => "#"} Button 3
              %li
                %a{:href => "#"} Button 4
              %li
                %a{:href => "#"} Button 5
        #main
          #col1
            #col1_content.clearfix
              / add your content here
          #col2
            #col2_content.clearfix
              / add your content here
          #col3
            #col3_content.clearfix
              / add your content here
            / IE Column Clearing
            #ie_clearing  
        / begin: #footer
        #footer
          Layout based on
          %a{:href => "http://www.yaml.de/"} YAML
