$layout_width:          1000px;
$layout_max_width:      $layout_width;
$layout_min_width:      $layout_width;
$display_3rd_column:    none; /* #col2 (none|block) */
$header_height:         20px;
$content_height:        auto;
$footer_height:         250px;
$width_c1:              25%;
$width_c2:              auto;
$width_c3:              50%;
